---
layout: default
---
{{ page.content }}

<div id='map' style='margin-top: 16px; width: 100%; height: 500px;'></div>

<script>
    mapboxgl.accessToken = 'pk.eyJ1IjoiY2FwZWNvZHRyYWlscnVubmluZyIsImEiOiJjbHgwc3pldGcwNDV6MmpxN3JtY3RjZTdhIn0.Xh5g0TNKifNbui-Nk2btGw';
    const map = new mapboxgl.Map({
        container: 'map', 
        style: 'mapbox://styles/capecodtrailrunning/clwjdfr1y02q901qlcu0u4i5i',
        center: [-70.355, 41.65], 
        zoom: 8.15, 
    });

    const nav = new mapboxgl.NavigationControl({
        showCompass: false
    });

    map.addControl(nav);

    {% for trailhead in site.trailheads %}
        const marker1 = new mapboxgl.Marker({ color: 'black'})
            .setLngLat([{{ trailhead.lat }}, {{ trailhead.lng }}])
            .addTo(map);
    {% endfor %}
</script>