---
layout: default
---
<h2>{{ page.title }}</h2>

<div id='map' style='margin-top: 16px; width: 100%; height: 500px;'></div>

<script>
    mapboxgl.accessToken = 'pk.eyJ1IjoiY2FwZWNvZHRyYWlscnVubmluZyIsImEiOiJjbHgwc3pldGcwNDV6MmpxN3JtY3RjZTdhIn0.Xh5g0TNKifNbui-Nk2btGw';
    const map = new mapboxgl.Map({
        container: 'map', 
        style: 'mapbox://styles/capecodtrailrunning/clwjdfr1y02q901qlcu0u4i5i',
        center: [{{ page.lat }}, {{ page.lng }}], 
        zoom: 
            {% if page.zoom %}
                {{ page.zoom }}
            {% else %}
                8.15,
            {% endif %} 
    });

    const nav = new mapboxgl.NavigationControl({
        showCompass: false
    });

    map.addControl(nav);

    map.on('load', () => {
        map.addSource('places', {
            'type': 'geojson',
            'data': {
                'type': 'FeatureCollection',
                'features': [
                    {% assign trailheads = site.towns | where: "layout","trailhead" | where: "parent", page.title %}
                    {% for trailhead in trailheads %}
                    {
                        'type': 'Feature',
                        'properties': {
                            'description':
                                '<b>{{ trailhead.title }}</b><br>{{ trailhead.address }}(<a href="https://www.google.com/maps/search/?api=1&query={{ trailhead.lat }},{{ trailhead.lng }}">Directions</a>)'
                        },
                        'geometry': {
                            'type': 'Point',
                            'coordinates': [{{ trailhead.lng }}, {{ trailhead.lat }}]
                        }
                    },
                    {% endfor %}
                ]
            }
        });
        map.addLayer({
            'id': 'places',
            'type': 'symbol',
            'source': 'places',
            'layout': {
                'icon-image': 'park',
                'icon-allow-overlap': true
            }
        });

        map.on('click', 'places', (e) => {
            const coordinates = e.features[0].geometry.coordinates.slice();
            const description = e.features[0].properties.description;

            while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
                coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
            }

            new mapboxgl.Popup()
                .setLngLat(coordinates)
                .setHTML(description)
                .addTo(map);
        });

        map.on('mouseenter', 'places', () => {
            map.getCanvas().style.cursor = 'pointer';
        });

        map.on('mouseleave', 'places', () => {
            map.getCanvas().style.cursor = '';
        });

    });

</script>

{{ content }}

{% assign town_routes = site.towns | where: 'permalink', page.town | where:'layout', "route" | sort: 'distance' %}

<table>
    <tr>
        <th>Route</th>
        <th>Trailhead</th>
        <th>Distance</th>
        <th>Elevation Gain</th>
    </tr>
    {% for route in town_routes %}
    <tr>
        <td><a href="{{ route.url }}">{{ route.title }}</a></td>
        <td><a href="{{ route.trailhead }}/">{{ route.parent }}</a></td>
        <td>{{ route.distance }} miles</td>
        <td>{{ route.elevation-gain }} feet</td>
    </tr>
    {% endfor %}  
</table>