---
layout: default
---
<h2>{{ page.title }}</h2>
<p>
    <b>Distance</b>: {{ page.distance }} miles
</br>
    <b>Elevation Gain</b>: {{ page.elevation-gain }} feet
</br>
    <b>Route Download: <a href="/downloads/{{ page.slug }}.gpx">{{ page.slug }}.gpx</a></b>
</p>
<div style="width: 100%; height: 550px;"><iframe src="https://footpathapp.com/routes/{{ page.footpath-id }}?embed=1" width="100%" height="100%" frameborder="0"></iframe></div>
{{ content }}

<p>Please note that I make no claims about the condition of the trails and all use of the routes and trails mentioned on this site is at your own risk. If I describe a route or trail on this website, it means I might have had fun running or riding it and that you might have fun as well.</p>