---
layout: default
---
<div id='map' style='width: 400px; height: 300px;'></div>

<script>
    mapboxgl.accessToken = 'pk.eyJ1IjoiY2FwZWNvZHRyYWlscnVubmluZyIsImEiOiJjbHgwc3pldGcwNDV6MmpxN3JtY3RjZTdhIn0.Xh5g0TNKifNbui-Nk2btGw';
    const map = new mapboxgl.Map({
        container: 'map', // container ID
        style: 'mapbox://styles/capecodtrailrunning/clwjdfr1y02q901qlcu0u4i5i', // style URL
        center: [-74.5, 40], // starting position [lng, lat]
        zoom: 9 // starting zoom
    });
</script>

{{ content }}